/**/

body{
  background-image: url('fundo.jpg');
}

#cabecalho{
  background-color: green;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
}

.a{
  border-radius: 20px;
}

.b{
  color: green;
  font-size: large;
}

.c{
 color: black;
}